.profileItem{
  margin-bottom: 1em;
  margin-top: 1em;
  height: 5em;
}
.profileItemT{
  display: inline;
  float: left;
  margin-top: 1.8em;
  margin-left: 2em;
}
.profileItemP{
  border-radius: 2000px;
  display: inline;
  float: left;
  height: 5em;
}
.theSearch{
  display: inline-block;
  float: right;
  width: 20em;
}
.resultsContainer{
  overflow-y: scroll;
  height: 25em;
}
.splitHr2{
  border: 0;
  height: 1px;
  width: 200px;
  background-image: linear-gradient(to right, #ffdbed,rgba(0, 0, 0, 0.75),#ffdbed);
  position: relative;
  margin: 0 auto;
}
